<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.it3197_casestudy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.it3197_casestudy.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.it3197_casestudy.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        tools:ignore="MissingApplicationIcon" >
        <service android:name="com.example.it3197_casestudy.util.LocationService" >
        </service>

        <activity
            android:name="com.example.it3197_casestudy.ui_logic.LoginSelectionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
		<activity
            android:name="com.example.it3197_casestudy.ui_logic.LoginActivity"
            android:label="@string/app_name" >
        </activity>
		<activity
    		android:name="com.facebook.LoginActivity"
    		android:label="@string/title_facebook_login" >
		</activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.MainPageActivity"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ViewEventsActivity"
            android:label="@string/title_view_events"
            android:parentActivityName="com.example.it3197_casestudy.ui_logic.MainPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3197_casestudy.ui_logic.MainPageActivity" />
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateEventStep1Activity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateEventStep2Activity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateEventStep3Activity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateEventStep4Activity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.MainLinkPage"
            android:label="@string/title_activity_main_link_page" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ViewHobbiesMain"
            android:label="@string/title_activity_view_hobbies_main" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.Hobbies_Joined"
            android:label="@string/title_activity_hobbies__joined" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.Hobbies_All"
            android:label="@string/title_activity_hobbies__all" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.SubmitArticle"
            android:label="@string/title_activity_submit_article" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.example.it3197_casestudy.ui_logic.MainPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3197_casestudy.ui_logic.MainPageActivity" />
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.RiddleActivity"
            android:label="@string/title_activity_riddle"
            android:parentActivityName="com.example.it3197_casestudy.ui_logic.MainPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3197_casestudy.ui_logic.MainPageActivity" />
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateRiddleActivity"
            android:label="@string/title_activity_create_riddle"
            android:parentActivityName="com.example.it3197_casestudy.ui_logic.RiddleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3197_casestudy.ui_logic.RiddleActivity" />
        </activity>

        <service
            android:name="com.example.it3197_casestudy.geofencing.ReceiveTransitionsIntentService"
            android:exported="false" >
        </service>

        <!-- DO NOT EDIT -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- DO NOT EDIT -->
         
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBm1w2P3qipVFeAhjSi3F6eQx2M3KmMB18" />
             
		<!-- fuhchang -->
       
        <!-- <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDVor5BS2mdSm_sxCIOBtQTYS2uBDuNpJg" /> -->     
		
		<!-- Joseph lee -->
		<!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCpTBz_uJRG9Wm5UWupZsZ2yMz9R3cbERk" />-->
		
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ViewAllEventsActivity"
            android:label="@string/title_activity_view_all_events" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ArticleLocSelection"
            android:label="@string/title_activity_article_loc_selection" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateGroupActivityStep1"
            android:label="@string/title_activity_create_group_activity_step1" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateGroupActivityStep2"
            android:label="@string/title_activity_create_group_activity_step2" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateGroupActivityStep3"
            android:label="@string/title_activity_create_group_activity_step3" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateGroupActivityStep4"
            android:label="@string/title_activity_create_group_activity_step4" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.SuggestLocationActivity"
            android:label="@string/title_activity_suggest_location"
            android:parentActivityName="com.example.it3197_casestudy.ui_logic.CreateEventStep1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.it3197_casestudy.ui_logic.CreateEventStep1Activity" />
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ViewSingleHobby"
            android:label="@string/title_activity_view_single_hobby" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.CreateHobbyPost"
            android:label="@string/title_activity_create_hobby_post" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.UpdateGroupActivity"
            android:label="@string/title_activity_update_group" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.HobbyLoSelection"
            android:label="@string/title_activity_hobby_lo_selection" >
        </activity>
        
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ArticleMainActivity"
            android:label="@string/title_activity_article_main" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.SingleArticleActivity"
            android:label="@string/title_activity_single_article" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ArticleSelectedActivityActivity"
            android:label="@string/title_activity_article_selected_activity" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ArticleLatestMoreDetailActivity"
            android:label="@string/title_activity_article_latest_more_detail" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.FeedbackArticleActivity"
            android:label="@string/title_activity_feedback_article" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ArticleSelectedFeedbackActivity"
            android:label="@string/title_activity_article_selected_feedback" >
        </activity>
        <activity
            android:name="com.example.it3197_casestudy.ui_logic.ArticleDisplayMainStatsActivity"
            android:label="@string/title_activity_article_display_main_stats" >
        </activity>
        
    </application>

</manifest>
